/*
A dark, earthy-colored theme for Adminer by bsotanyi
https://github.com/bsotanyi/Cocoa-Adminer

@version 1.0 (Oct 2022)
*/

@import url('https://fonts.googleapis.com/css2?family=IBM Plex Sans&display=swap');

$dark: #1d1611;
$primary: #eeb25f;
$secondary: #e97b32;

* {
    box-sizing: border-box;
    transition: box-shadow .1s;
    :focus {
        box-shadow: 0 0 0 2px scale-color($color: $secondary, $alpha: -40%);
        outline: none;
    }
}
::selection {
    background-color: scale-color($color: $secondary, $alpha: -70%);
}
body {
    background-color: $dark;
    font-family: 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeLegibility;
    color: $primary;
}
a {
    color: $secondary;
    padding: 2px;
    &:visited {
        color: $secondary;
    }
    &:hover {
        color: $primary !important;
    }
    &.active {
        text-decoration: underline;
        color: $secondary;
        font-weight: normal;
    }
}
h1, h2, #tables a {
    background-color: inherit;
    border-bottom: none;
    color: inherit;
}
.version, span.time {
    color: $primary;
}
#h1 {
    color: $secondary;
    font-weight: bold;
    font-style: normal;
}
.select {
    opacity: 0.6;
}
#menu {
    p {
        border-bottom: none;
    }
    .links {
        display: grid;
        grid: auto / 1fr 1fr;

        a:last-child {
            grid-row: 2;
        }
        a:nth-of-type(3) {
            grid-column: 2;
        }
    }
}
#tables {
    border-bottom: none;
    li {
        padding: 2px 0;
        a:hover + a {
            text-decoration: underline;
        }
    }
}
#content {
    margin-left: 19em;
}
#breadcrumb {
    top: .8em;
    left: 19em;
    background-color: inherit;
}
th, td, fieldset, .table, .error, .message {
    background-color: adjust-color($color: $dark, $blackness: 2%) !important;
    border: 1px solid adjust-color($color: $dark, $lightness: 10%) !important;
    cursor: default;
}

.table {
    .char { color: $secondary; }
    .date { color: #ace63f; }
    .enum { color: #3fe6ae; }
    .binary {color: #e63f3f; }
}
input[type="submit"], button {
    cursor: pointer;
    transition: background-color .1s;
    &:hover {
        background-color: scale-color($color: $dark, $lightness: 4%);
    }
    &.default {
        box-shadow: inherit !important;
    }
}
select, input:not(.icon):not([type="checkbox"]):not([type="radio"]), textarea, pre[contenteditable] {
    padding: 3px 6px;
    background-color: $dark;
    color: $primary;
    border: 1px solid scale-color($color: $primary, $alpha: -50%) !important;
    border-radius: 2px;
}
input.icon {
    background-color: $dark;
    border-radius: 2px;
    filter: sepia(1) saturate(5) brightness(0.8);
    &:hover {
        filter: sepia(1) saturate(5) brightness(1);
    }
}
input[type="number"] {
    min-width: 4em;
}
code {
    background: $dark;
    font-size: 1.1em;
}
.jush {
    color: #f1c88f;
    a, .jush-op {
        color: $secondary;
    }
    .jush-help, .jush-js_key {
        color: $primary;
    }
    .jush-quo {
        color: #c8e932;
    }
    .jush-bac {
        color: #e77755;
    }
    .jush-op {
        color: #e25f5f;
    }
}
.message {
    color: #b9e63f;
}
.footer {
    border: none;
    background-color: $dark;
    padding-top: .5em;
    div {
        background: inherit;
    }
}
#logins {
    border-bottom: none;
    a {
        background-color: inherit;
    }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border: 0px none $primary;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: scale-color($color: $dark, $blackness: 50%);
  border: 0px none $primary;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

input[type="checkbox"], input[type="radio"] {
    appearance: none;
    background-color: $dark;
    margin: 0 .2em;
    font: inherit;
    width: 1em;
    height: 1em;
    border: 1px solid $secondary;
    border-radius: 2px;
    display: inline-grid;
    place-items: center;

    &:checked::before {
        content: '\a0';
        height: .55em;
        width: .55em;
        background-color: $primary;
        border-radius: 1em;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}
input[type="checkbox"]:checked::before {
    width: .65em;
    height: .65em;
    transform-origin: bottom left;
    clip-path: polygon(39% 65%, 76% 10%, 95% 24%, 46% 97%, 5% 67%, 18% 49%);
}
input[type="radio"] {
    border-radius: 9rem;
}
.js {
    .checkable .checked td, .checkable .checked th {
        background-color: adjust-color($color: $dark, $lightness: 5%) !important;
    }
    .column {
        background: $dark;
        outline: 1px solid $primary;
    }
}
#help {
    background-color: $dark;
    border: 1px solid $primary;
}