@charset "UTF-8";
/*
A dark, earthy-colored theme for Adminer by bsotanyi
https://github.com/bsotanyi/Cocoa-Adminer

@version 1.1 (Oct 2022)
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  box-sizing: border-box;
  transition: box-shadow 0.1s;
}
* :focus {
  box-shadow: 0 0 0 2px rgba(233, 123, 50, 0.6);
  outline: none;
}

::selection {
  background-color: rgba(233, 123, 50, 0.3);
}

body {
  background-color: #1d1611;
  font-family: "IBM Plex Sans", sans-serif;
  text-rendering: optimizeLegibility;
  color: #eeb25f;
}

a {
  color: #e97b32;
  padding: 2px;
}
a:visited {
  color: #e97b32;
}
a:hover {
  color: #eeb25f !important;
}
a.active {
  text-decoration: underline;
  color: #e97b32;
  font-weight: normal;
}

h1, h2, #tables a {
  background-color: inherit;
  border-bottom: none;
  color: inherit;
}

.version, span.time {
  color: #eeb25f;
}

#h1 {
  color: #e97b32;
  font-weight: bold;
  font-style: normal;
}

.select {
  opacity: 0.6;
}

#menu p {
  border-bottom: none;
}
#menu .links {
  display: grid;
  grid: auto/1fr 1fr;
}
#menu .links a:last-child {
  grid-row: 2;
}
#menu .links a:nth-of-type(3) {
  grid-column: 2;
}

#tables {
  border-bottom: none;
}
#tables li {
  padding: 2px 0;
}
#tables li a:hover + a {
  text-decoration: underline;
}

#content {
  margin-left: 19em;
}

#breadcrumb {
  top: 0.8em;
  left: 19em;
  background-color: inherit;
}

th, td, fieldset, .table, .error, .message {
  background-color: #181411 !important;
  border: 1px solid #3d2e24 !important;
  cursor: default;
}

.table .char {
  color: #e97b32;
}
.table .date {
  color: #ace63f;
}
.table .enum {
  color: #3fe6ae;
}
.table .binary {
  color: #e63f3f;
}

input[type=submit], button {
  cursor: pointer;
  transition: background-color 0.1s;
}
input[type=submit]:hover, button:hover {
  background-color: #291f18;
}
input[type=submit].default, button.default {
  box-shadow: inherit !important;
}

select, input:not(.icon):not([type=checkbox]):not([type=radio]), textarea, pre[contenteditable] {
  padding: 3px 6px;
  background-color: #1d1611;
  color: #eeb25f;
  border: 1px solid rgba(238, 178, 95, 0.5) !important;
  border-radius: 2px;
}

select, input:not(.icon):not([type=checkbox]):not([type=radio]) {
  height: 2em;
}

select {
  vertical-align: middle;
}

input.icon {
  background-color: #1d1611;
  border-radius: 2px;
  filter: sepia(1) saturate(5) brightness(0.8);
}
input.icon:hover {
  filter: sepia(1) saturate(5) brightness(1);
}

input[type=number] {
  min-width: 4em;
}

code {
  background: #1d1611;
  font-size: 1.1em;
}

.jush {
  color: #f1c88f;
}
.jush a, .jush .jush-op {
  color: #e97b32;
}
.jush .jush-help, .jush .jush-js_key {
  color: #eeb25f;
}
.jush .jush-quo {
  color: #c8e932;
}
.jush .jush-bac {
  color: #e77755;
}
.jush .jush-op {
  color: #e25f5f;
}

.message {
  color: #b9e63f;
}

#menu .message {
  border: none !important;
  background: inherit !important;
}

.footer {
  border: none;
  background-color: #1d1611;
  padding-top: 0.5em;
}
.footer div {
  background: inherit;
}

#logins {
  border-bottom: none;
}
#logins a {
  background-color: inherit;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #eeb25f;
  border: 0px none #eeb25f;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #111111;
  border: 0px none #eeb25f;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

input[type=checkbox], input[type=radio] {
  -webkit-appearance: none;
          appearance: none;
  background-color: #1d1611;
  margin: 0 0.2em;
  font: inherit;
  width: 1em;
  height: 1em;
  border: 1px solid #e97b32;
  border-radius: 2px;
  display: inline-grid;
  place-items: center;
}
input[type=checkbox]:checked::before, input[type=radio]:checked::before {
  content: " ";
  height: 0.55em;
  width: 0.55em;
  background-color: #eeb25f;
  border-radius: 1em;
}
input[type=checkbox]:disabled, input[type=radio]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input[type=checkbox]:checked {
  background-color: #eeb25f;
}
input[type=checkbox]:checked::before {
  width: 0.65em;
  height: 0.65em;
  transform-origin: bottom left;
  background-color: #1d1611;
  clip-path: polygon(39% 65%, 76% 10%, 95% 24%, 46% 97%, 5% 67%, 18% 49%);
}

input[type=radio] {
  border-radius: 9rem;
}

.js .checkable .checked td, .js .checkable .checked th {
  background-color: #2d221a !important;
}
.js .column {
  background: #1d1611;
  outline: 1px solid #eeb25f;
}

#help {
  background-color: #1d1611;
  border: 1px solid #eeb25f;
  border-radius: 2px;
}